// Global variables
$space: 70px;
$wrapperWidth: 750px;
$baseFontSize: 24px;
$baseLineHeight: 1.7;
$linkColor: #e34; // #2ed for invert color
$backgroundColor: #fff;
$textColor: #000;
$sansSerif: "Helvetica Neue", "Hiragino Sans GB", sans-serif;
$serif: Palatino, "Hiragino Mincho ProN", serif;
$thumbSize: 190px;
$thumbPadding: 15px;
$thumbFontSize: $baseFontSize * .7;
$iconSize: 40px;
$subHeadingColor: #9f9f9f;
